---
import Layout from "../layouts/Layout.astro";
import hero1 from "../assets/images/hero 1.png";
import hero2 from "../assets/images/hero 2.png";
import hero3 from "../assets/images/hero 3.png";
import proof_funds from "../assets/images/Asset 6.svg";
import personal from "../assets/images/Asset 5.svg";
import business from "../assets/images/Asset 9.svg";
import educational from "../assets/images/Asset 4.svg";
import mortgage from "../assets/images/Asset 7.svg";
import travel from "../assets/images/Asset 8.svg";
---

<Layout title="Contact Credit Limited">
  <main>
    <section class="bg-greenLike dark:bg-gray-900">
      <div
        class="grid justify-center max-w-screen-xl px-4 py-8 mx-auto md:gap-8 xl:gap-0 md:py-16 md:px-10 lg:px-0 md:grid-cols-12"
      >
        <div
          class="flex flex-col justify-center items-center mr-auto place-self-center md:items-start md:col-span-7"
        >
          <h1
            class="text-center max-w-[370px] mb-4 text-xl leading-8 font-bold uppercase font-kumbh tracking-tight md:text-left md:max-w-[650px] md:text-4xl md:leading-12 dark:text-white"
          >
            Empowering your dreams, one loan at a time
          </h1>
          <p
            class="max-w-2xl mb-6 font-light font-kumbh text-black lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
          >
            Your financial status is in good hands
          </p>
          <a
            href="#"
            class="inline-flex items-center justify-center transition hover:ease-in duration-300 font-kumbh px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-green-800 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
          >
            Contact Us
          </a>
        </div>
        <div
          class="flex flex-col justify-center items-center pt-4 md:mt-0 md:col-span-5 md:flex"
        >
          <img
            src={hero1}
            alt="mockup"
            class="h-96 animate-pulse md:h-max lg:h-100%"
          />
        </div>
      </div>
    </section>
    <section
      class="bg-white h-screen flex justify-center items-center dark:bg-gray-900"
    >
      <div
        class="grid justify-center mx-auto max-w-screen-xl md:gap-8 xl:gap-0 md:py-6 md:px-10 lg:px-0 md:grid-cols-12"
      >
        <div
          class="flex flex-col justify-between items-center py-4 md:mt-0 md:col-span-5 md:flex md:items-start"
        >
          <img src={hero2} alt="mockup" class="h-80 md:h-max lg:h-96" />
        </div>
        <div
          class="flex flex-col-reverse p-6 justify-center items-center mr-auto place-self-center md:items-start md:col-span-7"
        >
          <p
            class="max-w-2xl text-justify mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
          >
            At Contact Credit, we understand that personal aspirations often
            require financial support. Our personalized personal loans provide
            the means to make your dreams a reality. Whether it's a dream
            vacation, home improvement project, or unexpected expenses, we're
            here to help you achieve your goals
          </p>
          <h1
            class="text-center max-w-2xl mb-4 text-xl font-extrabold tracking-tight leading-none md:text-left md:text-2xl xl:text-4xl dark:text-white"
          >
            We Help our Clients To Achieve Their Goals Through Funding
          </h1>
        </div>
      </div>
    </section>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
          >
            Designed for business teams like yours
          </h2>
          <p class="text-gray-500 sm:text-xl dark:text-gray-400">
            Here at Flowbite we focus on markets where technology, innovation,
            and capital can unlock long-term value and drive economic growth.
          </p>
        </div>
        <div
          class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
        >
          <div>
            <div
              class="flex justify-start items-center mb-4 w-auto h-auto rounded-full bg-primary-100 lg:h-auto lg:w-auto dark:bg-primary-900"
            >
              <img src={proof_funds} class="w-20" />
            </div>
            <h3 class="mb-2 text-xl font-bold font-kumbh dark:text-white">
              Proof of Funds
            </h3>
            <p class="text-gray-500 font-kumbh text-justify dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div>
            <div
              class="flex justify-start items-center mb-4 w-auto h-auto rounded-full bg-primary-100 lg:h-auto lg:w-auto dark:bg-primary-900"
            >
              <img src={proof_funds} class="w-20" />
            </div>
            <h3 class="mb-2 text-xl font-bold font-kumbh dark:text-white">
              Proof of Funds
            </h3>
            <p class="text-gray-500 font-kumbh text-justify dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div>
            <div
              class="flex justify-start items-center mb-4 w-auto h-auto rounded-full bg-primary-100 lg:h-auto lg:w-auto dark:bg-primary-900"
            >
              <img src={proof_funds} class="w-20" />
            </div>
            <h3 class="mb-2 text-xl font-bold font-kumbh dark:text-white">
              Proof of Funds
            </h3>
            <p class="text-gray-500 font-kumbh text-justify dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div>
            <div
              class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <img src={mortgage} class="h-20 pb-2" />
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">Finance</h3>
            <p class="text-gray-500 dark:text-gray-400">
              Audit-proof software built for critical financial operations like
              month-end close and quarterly budgeting.
            </p>
          </div>
          <div>
            <div
              class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <img src={educational} class="h-20 pb-2" />
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">
              Enterprise Design
            </h3>
            <p class="text-gray-500 dark:text-gray-400">
              Craft beautiful, delightful experiences for both marketing and
              product with real cross-company collaboration.
            </p>
          </div>
          <div>
            <div
              class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <img src={travel} class="h-20 pb-2" />
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">Operations</h3>
            <p class="text-gray-500 dark:text-gray-400">
              Keep your company’s lights on with customizable, iterative, and
              structured workflows built for all efficient teams and individual.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="lg:py-16">
      <div class="flex flex-col items-center">
        <h4 class="font-bold text-xl p-4">Services</h4>
        <h2 class="font-extrabold text-lg text-center">
          Exceptional Financial Services for Growth
        </h2>
      </div>
      <div
        class="grid grid-cols-3 gap-4 max-w-screen-xl items-center px-4 py-8 mx-auto lg:grid-cols-6 lg:gap-x-0"
      >
        <div
          class="bg-darkBlue link-card w-auto rounded-sm flex flex-col justify-center items-center md:w-full lg:w-40"
        >
          <img src={proof_funds} class="w-20 pb-2" />
          <p class="text-xs text-white pb-1">PROOF OF FUNDS</p>
        </div>
        <div
          class="bg-darkBlue link-card w-28 rounded-sm flex flex-col justify-center items-center md:w-full lg:w-40"
        >
          <img src={personal} class="h-16 pb-2" />
          <p class="text-xs text-white pb-1">PERSONAL LOANS</p>
        </div>
        <div
          class="bg-darkBlue link-card w-28 rounded-sm flex flex-col justify-center items-center md:w-full lg:w-40"
        >
          <img src={business} class="h-16 pb-2" />
          <p class="text-xs text-white pb-1">BUSINESS LOANS</p>
        </div>
        <div
          class="bg-darkBlue link-card w-28 rounded-sm flex flex-col justify-center items-center md:w-full lg:w-40"
        >
          <img src={educational} class="h-16 pb-2" />
          <p class="text-xs text-white pb-1">EDUCATIONAL LOANS</p>
        </div>
        <div
          class="bg-darkBlue link-card w-28 rounded-sm flex flex-col justify-center items-center md:w-full lg:w-40"
        >
          <img src={mortgage} class="h-16 pb-2" />
          <p class="text-xs text-white pb-1">MORTGAGE LOANS</p>
        </div>
        <div
          class="bg-darkBlue link-card w-28 rounded-sm flex flex-col justify-center items-center md:w-full lg:w-40"
        >
          <img src={travel} class="h-16 pb-2" />
          <p class="text-xs text-white pb-1">TRAVEL LOANS</p>
        </div>
      </div>
    </section>
    <section class="bg-white dark:bg-gray-900 mb-6 p-10">
      <div class="flex flex-col items-center">
        <h4 class="font-bold text-xl p-4">Why Choose Us?</h4>
      </div>
      <div
        class="grid justify-center mx-auto max-w-screen-xl md:gap-8 xl:gap-0 md:py-16 md:px-10 lg:px-0 md:grid-cols-12"
      >
        <div
          class="flex flex-col justify-between items-center py-4 md:mt-0 md:col-span-5 md:flex md:items-start"
        >
          <img src={hero3} alt="mockup" class="h-80 md:h-max lg:h-96" />
        </div>
        <div class="flex flex-row"></div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
