---
import Layout from "../layouts/Layout.astro";
import hero1 from "../assets/images/hero 1.svg";
import new_hero from "../assets/images/CTA.jpg";
import hero2 from "../assets/images/new_hero1.svg";
import hero3 from "../assets/images/new_hero2.svg";
import proof_funds from "../assets/images/Asset 6.svg";
import personal from "../assets/images/Asset 5.svg";
import business from "../assets/images/Asset 9.svg";
import educational from "../assets/images/Asset 4.svg";
import mortgage from "../assets/images/Asset 7.svg";
import travel from "../assets/images/Asset 8.svg";
---

<Layout title="Home - Contact Credit Limited">
  <main>
    <section
      class="py-12 h-screen bg-money flex items-center bg-cover bg-right md:bg-center bg-no-repeat dark:bg-gray-900"
    >
      <div
        class="grid justify-center max-w-screen-xl px-4 py-8 mx-auto md:gap-8 xl:gap-0 md:py-16 md:px-10 lg:px-0 md:grid-cols-12"
      >
        <div
          class="flex flex-col justify-center items-center mr-auto place-self-center md:items-start md:col-span-7"
        >
          <h1
            class="text-center max-w-[370px] mb-4 text-xl text-white leading-8 font-extrabold uppercase font-kumbh tracking-tight md:text-left md:max-w-[650px] md:text-4xl md:leading-12"
          >
            CONTACT CREDIT LIMITED
          </h1>
          <h1
            class="text-center max-w-[370px] mb-4 text-white text-xl leading-8 font-extrabold uppercase font-kumbh tracking-tight md:text-left md:max-w-[650px] md:text-4xl md:leading-12 dark:text-white"
          >
            Empowering your dreams, one loan at a time
          </h1>
          <p
            class="max-w-2xl mb-6 font-light font-kumbh text-white lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
          >
            Your financial status is in good hands
          </p>
          <a
            href="#"
            class="inline-flex items-center animate-wiggle justify-center transition hover:ease-in duration-300 font-kumbh px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg hover:bg-myGreen bg-myBlue dark:text-white"
          >
            Contact Us
          </a>
        </div>
        <div
          class="flex flex-col justify-center items-center pt-4 md:mt-0 md:col-span-5 md:flex"
        >
          <!-- <img src={} alt="mockup" class="rounded-lg" /> -->
        </div>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-1 md:grid-cols-3 md:px-12">
        <div class="p-6">
          <div
            class="p-2 border flex flex-col items-center justify-center text-center rounded-lg bg-myBlue"
          >
            <h2 class="text-center py-2 font-bold text-white">LOANS</h2>
            <p class="text-md text-white md:pb-2">
              Experience the ease of securing loans for all your needs with our
              hassle-free and customer-centric approach. Your financial peace of
              mind starts here.
            </p>
          </div>
        </div>
        <div class="p-6">
          <div
            class="p-2 border flex flex-col items-center justify-center text-center rounded-lg bg-greyish"
          >
            <h2 class="text-center py-2 font-bold">COMPETITIVE RATES</h2>
            <p class="text-md md:pb-2">
              Get the Most from Your Money: Our loans come with competitive
              rates, making your financial goals even more achievable.
            </p>
          </div>
        </div>
        <div class="p-6">
          <div
            class="p-2 border flex flex-col items-center justify-center text-center rounded-lg bg-myGreen"
          >
            <h2 class="text-center py-2 font-bold text-white">COME ONBOARD</h2>
            <p class="text-md text-white md:pb-2">
              Unlock the Power of Your Liquidity. Invest with us and seize new
              opportunities for growth and financial success.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="bg-white py-8 flex justify-center items-center dark:bg-gray-900"
    >
      <div
        class="grid justify-center mx-auto max-w-screen-xl md:gap-8 xl:gap-0 md:py-6 md:px-10 lg:px-0 md:grid-cols-12"
      >
        <div
          class="flex flex-col justify-between items-center p-4 md:mt-0 md:col-span-5 md:flex md:items-start"
        >
          <img src={new_hero} alt="mockup" class="h-full rounded-lg md:h-max" />
        </div>
        <div
          class="flex flex-col-reverse p-4 justify-center items-center mr-auto place-self-center md:items-start md:col-span-7"
        >
          <p
            class="max-w-2xl font-kumbh px-4 text-md text-justify mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
          >
            At Contact Credit, we understand that personal aspirations often
            require financial support. Our personalized personal loans provide
            the means to make your dreams a reality. Whether it's a dream
            vacation, home improvement project, or unexpected expenses, we're
            here to help you achieve your goals
          </p>
          <h1
            class="text-center font-kumbh max-w-2xl mb-4 text-xl font-extrabold text-myBlue tracking-tight leading-none md:text-left md:text-2xl xl:text-4xl dark:text-white"
          >
            We Help our Clients To Achieve Their Goals Through Funding
          </h1>
        </div>
      </div>
    </section>
    <section
      class="bg-white pb-8 flex justify-center items-center dark:bg-gray-900"
    >
      <div
        class="flex flex-col-reverse justify-center mx-auto max-w-screen-xl md:gap-8 xl:gap-0 md:py-6 md:px-10 lg:px-0 md:grid md:grid-cols-12"
      >
        <div
          class="flex flex-col-reverse p-4 justify-center items-center mr-auto place-self-center md:items-start md:col-span-7"
        >
          <p
            class="max-w-2xl font-kumbh px-4 text-md text-justify mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
          >
            At Contact Credit, we understand that personal aspirations often
            require financial support. Our personalized personal loans provide
            the means to make your dreams a reality. Whether it's a dream
            vacation, home improvement project, or unexpected expenses, we're
            here to help you achieve your goals
          </p>
          <h1
            class="text-center font-kumbh max-w-2xl mb-4 text-xl font-extrabold text-myBlue tracking-tight leading-none md:text-left md:text-2xl xl:text-4xl dark:text-white"
          >
            We Help our Clients To Achieve Their Goals Through Funding
          </h1>
        </div>
        <div
          class="flex flex-col justify-between items-center p-4 md:mt-0 md:col-span-5 md:flex md:items-start"
        >
          <img src={hero3} alt="mockup" class="h-full rounded-lg md:h-max" />
        </div>
      </div>
    </section>
    <hr />
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="flex flex-col justify-center mb-8 lg:mb-16">
          <h2
            class="mb-4 text-2xl font-kumbh tracking-tight text-center font-extrabold text-myBlue dark:text-white"
          >
            Exceptional Financial Services for Growth
          </h2>
          <p class="text-gray-500 font-kumbh sm:text-xl dark:text-gray-400"></p>
        </div>
        <div
          class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
        >
          <div class="px-4">
            <div
              class="flex justify-center items-center mb-4 w-auto h-auto rounded-full bg-primary-100 lg:h-auto lg:w-auto dark:bg-primary-900"
            >
              <img src={proof_funds} class="w-24" />
            </div>
            <h3
              class="mb-2 text-xl text-center text-myBlue font-bold font-kumbh dark:text-white"
            >
              Proof of Funds
            </h3>
            <p class="text-gray-500 font-kumbh text-justify dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div class="px-4">
            <div
              class="flex justify-center items-center mb-4 w-auto h-auto rounded-full bg-primary-100 lg:h-auto lg:w-auto dark:bg-primary-900"
            >
              <img src={personal} class="w-24" />
            </div>
            <h3
              class="mb-2 text-xl text-center text-myBlue font-bold font-kumbh dark:text-white"
            >
              Personal Loans
            </h3>
            <p class="text-gray-500 font-kumbh text-justify dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div class="px-4">
            <div
              class="flex justify-center items-center mb-4 w-auto h-auto rounded-full bg-primary-100 lg:h-auto lg:w-auto dark:bg-primary-900"
            >
              <img src={educational} class="w-24" />
            </div>
            <h3
              class="mb-2 text-xl text-center font-bold text-myBlue font-kumbh dark:text-white"
            >
              Educational Loans
            </h3>
            <p class="text-gray-500 font-kumbh text-justify dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div class="px-4">
            <div
              class="flex justify-center items-center mb-4 w-auto h-auto rounded-full bg-primary-100 lg:h-auto lg:w-auto dark:bg-primary-900"
            >
              <img src={mortgage} class="w-24" />
            </div>
            <h3
              class="mb-2 text-xl text-center text-myBlue font-bold font-kumbh dark:text-white"
            >
              Asset Management
            </h3>
            <p class="text-gray-500 font-kumbh text-justify dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div class="px-4">
            <div
              class="flex justify-center items-center mb-4 w-auto h-auto rounded-full bg-primary-100 lg:h-auto lg:w-auto dark:bg-primary-900"
            >
              <img src={travel} class="w-24" />
            </div>
            <h3
              class="mb-2 text-xl text-center text-myBlue font-bold font-kumbh dark:text-white"
            >
              Travel Loans
            </h3>
            <p class="text-gray-500 font-kumbh text-justify dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div class="px-4">
            <div
              class="flex justify-center items-center mb-4 w-auto h-auto rounded-full bg-primary-100 lg:h-auto lg:w-auto dark:bg-primary-900"
            >
              <img src={business} class="w-24" />
            </div>
            <h3
              class="mb-2 text-xl text-center text-myBlue font-bold font-kumbh dark:text-white"
            >
              Business Loans
            </h3>
            <p
              class="text-gray-500 font-kumbh overflow-ellipsis text-justify dark:text-gray-400"
            >
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="bg-white py-8 flex flex-col justify-center items-center dark:bg-gray-900"
    >
      <div class="flex flex-col items-center">
        <h4 class="font-extrabold text-myBlue font-kumbh text-2xl p-4">
          Why Choose Us?
        </h4>
      </div>
      <div
        class="grid justify-center mx-auto max-w-screen-xl md:gap-8 xl:gap-0 md:py-6 md:px-10 lg:px-0 md:grid-cols-12"
      >
        <div
          class="flex flex-col justify-between items-center p-4 md:mt-0 md:col-span-5 md:flex md:items-start"
        >
          <img src={hero2} alt="mockup" class="h-full rounded-lg md:h-max" />
        </div>
        <div
          class="flex flex-col-reverse p-4 justify-center items-center mr-auto place-self-center md:items-start md:col-span-7"
        >
          <p
            class="max-w-2xl font-kumbh px-4 text-md text-justify mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
          >
            At Contact Credit, we understand that personal aspirations often
            require financial support. Our personalized personal loans provide
            the means to make your dreams a reality. Whether it's a dream
            vacation, home improvement project, or unexpected expenses, we're
            here to help you achieve your goals
          </p>
          <h1
            class="text-center font-kumbh max-w-2xl mb-4 text-xl font-extrabold text-myBlue tracking-tight leading-none md:text-left md:text-2xl xl:text-4xl dark:text-white"
          >
            We Help our Clients To Achieve Their Goals Through Funding
          </h1>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
