---
import Layout from "../layouts/Layout.astro";
import proof_funds from "../assets/images/Asset 6.svg";
import personal from "../assets/images/Asset 5.svg";
import business from "../assets/images/Asset 9.svg";
import educational from "../assets/images/Asset 4.svg";
import mortgage from "../assets/images/Asset 7.svg";
import travel from "../assets/images/Asset 8.svg";
import salary from "../assets/images/Asset 9a.svg";
import lpo from "../assets/images/Asset 8a.svg";
---

<Layout title="Services - Contact Credit Limited">
  <section
    class="py-6 flex items-center justify-center bg-gray-100 bg-right md:bg-center dark:bg-gray-900"
  >
    <div
      class="flex flex-col justify-center items-center p-4 md:mt-0 md:col-span-5 md:flex"
    >
      <h1 class="text-center font-bold text-myBlue py-6 text-3xl">
        Explore our services
      </h1>
      <p class="text-center font-bold text-myBlue py-2 text-sm md:text-base">
        Welcome to Contact Credit Ltd., your source for a variety of tailored
        services. From finance to investment, we're here to support your
        success.
      </p>
    </div>
  </section>
  <section>
    <div
      class="cards grid grid-cols-1 md:grid-cols-3 md:px-12 gap-4 lg:grid-cols-4"
    >
      <div class="py-6 flex justify-center items-center">
        <label id="summary">
          <input type="checkbox" />
          <article>
            <div
              class="front flex flex-col items-center justify-center bg-gray-600 hover:translate-x-6 hover:bg-myBlue"
            >
              <header class="flex justify-center">
                <h2 class="uppercase font-bold text-white">Proof of Funds</h2>
              </header>
              <img src={proof_funds} class="w-24" />
            </div>
            <div
              class="back bg-myGreen flex justify-center items-center text-white"
            >
              <p class="text-justify">
                This service involves the issuance of an official document or
                statement, confirming that a specific individual, business, or
                account holder has the required amount of money available in
                their account to support a particular financial endeavor.
              </p>
            </div>
          </article>
        </label>
      </div>

      <div class="py-6 flex justify-center items-center">
        <label id="summary">
          <input type="checkbox" />
          <article>
            <div
              class="front flex flex-col items-center justify-center bg-gray-600 hover:translate-x-6 hover:bg-myBlue"
            >
              <header class="flex justify-center">
                <h2 class="uppercase font-bold text-white">Personal Loans</h2>
              </header>
              <img src={personal} class="w-24" />
            </div>
            <div
              class="back bg-myGreen flex justify-center items-center text-white"
            >
              <p class="text-justify">
                Whatever your goals, our personal loans provide the financial
                flexibility to make them happen. From weddings to home
                improvements, we're here to support your dreams. Apply today and
                take the first step toward achieving your aspirations.
              </p>
            </div>
          </article>
        </label>
      </div>
      <div class="py-6 flex justify-center items-center">
        <label id="summary">
          <input type="checkbox" />
          <article>
            <div
              class="front flex flex-col items-center justify-center bg-gray-600 hover:translate-x-6 hover:bg-myBlue"
            >
              <header class="flex justify-center">
                <h2 class="uppercase font-bold text-white">
                  Educational Loans
                </h2>
              </header>
              <img src={educational} class="w-24" />
            </div>
            <div
              class="back bg-myGreen flex justify-center items-center text-white"
            >
              <p class="text-justify">
                We're here to help you succeed academically. Our student loans
                provide the financial support you need for tuition, books, and
                more. Start your educational journey today.
              </p>
            </div>
          </article>
        </label>
      </div>
      <div class="py-6 flex justify-center items-center">
        <label id="summary">
          <input type="checkbox" />
          <article>
            <div
              class="front flex flex-col items-center justify-center bg-gray-600 hover:translate-x-6 hover:bg-myBlue"
            >
              <header class="flex justify-center">
                <h2 class="uppercase font-bold text-white">Business Loans</h2>
              </header>
              <img src={business} class="w-24" />
            </div>
            <div
              class="back bg-myGreen flex justify-center items-center text-white"
            >
              <p class="text-justify">
                Our business loans are here to drive your business forward.
                Fast, flexible financing to fuel your growth and success.
              </p>
            </div>
          </article>
        </label>
      </div>
      <div class="py-6 flex justify-center items-center">
        <label id="summary">
          <input type="checkbox" />
          <article>
            <div
              class="front flex flex-col items-center justify-center bg-gray-600 hover:translate-x-6 hover:bg-myBlue"
            >
              <header class="flex justify-center">
                <h2 class="uppercase font-bold text-white">asset management</h2>
              </header>
              <img src={mortgage} class="w-24" />
            </div>
            <div
              class="back bg-myGreen flex justify-center items-center text-white"
            >
              <p class="text-justify">
                Our specialized asset management services drive efficiency and
                growth. Let us optimize your assets for financial success.
              </p>
            </div>
          </article>
        </label>
      </div>

      <div class="py-6 flex justify-center items-center">
        <label id="summary">
          <input type="checkbox" />
          <article>
            <div
              class="front flex flex-col items-center justify-center bg-gray-600 hover:translate-x-6 hover:bg-myBlue"
            >
              <header class="flex justify-center">
                <h2 class="uppercase font-bold text-white">travel loans</h2>
              </header>
              <img src={travel} class="w-24" />
            </div>
            <div
              class="back bg-myGreen flex justify-center items-center text-white"
            >
              <p class="text-justify">
                Your dream vacation awaits, and our travel loans can take you
                there. Fast, easy, and hassle-free financing for your next
                adventure.
              </p>
            </div>
          </article>
        </label>
      </div>
      <div class="py-6 flex justify-center items-center">
        <label id="summary">
          <input type="checkbox" />
          <article>
            <div
              class="front flex flex-col items-center justify-center bg-gray-600 hover:translate-x-6 hover:bg-myBlue"
            >
              <header class="flex justify-center">
                <h2 class="uppercase font-bold text-white">lpo financing</h2>
              </header>
              <img src={lpo} class="w-24" />
            </div>
            <div
              class="back bg-myGreen flex justify-center items-center text-white"
            >
              <p class="text-justify">
                Secure the funds you need to fulfill purchase orders with our
                LPO financing. We're your partner in business growth, providing
                quick and reliable financial solutions to meet your procurement
                needs.
              </p>
            </div>
          </article>
        </label>
      </div>
      <div class="py-6 flex justify-center items-center">
        <label id="summary">
          <input type="checkbox" />
          <article>
            <div
              class="front flex flex-col items-center justify-center bg-gray-600 hover:translate-x-6 hover:bg-myBlue"
            >
              <header class="flex justify-center">
                <h2 class="uppercase font-bold text-white">Salary Advance</h2>
              </header>
              <img src={salary} class="w-24" />
            </div>
            <div
              class="back bg-myGreen flex justify-center items-center text-white"
            >
              <p class="text-justify">
                Our salary advance service is here to provide financial support
                when unexpected expenses arise. Get the funds you need quickly
                and hassle-free. We're your solution for financial peace of
                mind.
              </p>
            </div>
          </article>
        </label>
      </div>
    </div>
  </section>
</Layout>

<style>
  h2,
  h3,
  h4 {
    margin: 0;
    font-weight: 500;
  }

  article {
    position: relative;
    perspective: 1000px;
    width: 300px;
    height: 300px;
  }

  article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 26px;
  }

  article header h2 {
    font-size: 20px;
  }

  article .front,
  article .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    backface-visibility: hidden;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    padding: 24px;
    transition: 0.6s;
    cursor: pointer;
  }

  .back {
    transform: rotateY(180deg);
  }

  input {
    position: absolute;
    scale: 0;
  }

  input:checked ~ article .back {
    transform: rotateY(0);
  }

  input:checked ~ article .front {
    transform: rotateY(-180deg);
  }

  article var {
    font-style: normal;
    font-size: 80px;
    line-height: 1;
  }

  article h3 {
    margin: 0 0 30px;
    font-weight: 500;
  }

  #summary :is(var, h3) {
    color: #3b82f6;
  }

  #overdue :is(var, h3) {
    color: #ef4444;
  }

  #features :is(var, h3) {
    color: #22c55e;
  }
</style>
